@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: auto;
    width: 100%;
}

.heading {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
}

.product-container {
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 30%;

}

form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* width: 50%; */
    margin: auto;
}

.product {
    margin: auto;
    padding: 20px;
    margin: 20px;
}

input {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid;
    margin: 5px 0;
    /* width: 90%; */
}

input#amt,
input#make {
    width: 44%;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    /* position: absolute; */
    bottom: 0;
    margin: 20px;
}

hr {
    margin: 10px 0;
}




@media screen and (max-width:930px) {
    .product-container {
        width: 60%;
    }
}


@media screen and (max-width:550px) {
    .product-container {
        width: 90%;
    }
}


#make {
    background-color: #0d6efd;
    color: white;
    border: 1px solid blue;
}

#make:hover {
    background-color: #0b5ed7;
}

.line{
    margin: 4px;
}